{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-md-6 mr-auto ml-auto">
        <h1>Update your preferences</h1>
        <form enctype="multipart/form-data" method="POST" action="{% url 'profile:edit_preference' username=request.user %}"> {% csrf_token %}
            {% include 'includes/bs4_preference_update_form.html' with form=form %}
            <input class="btn-primary" type="submit" value="submit" />
        </form>
    </div>
</div>
{% endblock content %}