{% extends "base.html" %}
{% load i18n %}

{% block title %}{% block head_title %}{% endblock head_title %}{% endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-6 offset-md-3">
    {% block inner %}{% endblock %}
  </div>
</div>
{% endblock %}


{% block javascript %}
{{ block.super }}
<script type="text/javascript">
(function() {
  var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
  var actions = document.getElementsByName('action_remove');
  if (actions.length) {
    actions[0].addEventListener("click", function(e) {
      if (! confirm(message)) {
        e.preventDefault();
      }
    });
  }
})();

$('.form-group').removeClass('row');
</script>
{% endblock %}
